:root {
    --colorUno:rgba(111, 205, 147, 0.789);;
    --colorDos: rgba(255, 200, 0, 0.381);
    --colorTres: rgba(249, 230, 17, 0.515);
    --colorCuatro: rgba(255, 200, 0, 0.381);
    --colorCinco:rgba(218, 212, 234, 0.82);
    --colorSeis:  blueviolet;
    --colorSiete: rgb(222, 201, 240);
    --colorOcho: rgb(211, 214, 243)
    --fontUno: "kaushan script";
    --fontDos: "Sacramento";
    --fontTres: "Comic Neue";
    --fontCuatro: "Merienda";
    --fontCinco: "Petit Formal Script";
    --fontSeis: "Roboto";
    --fontSiete: "Outfit"
    

}