@import url(./home.css);

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--colorUno);
}

.nav a {
    display: none;
    text-decoration: none;
    color: white;
    font-family: var(--fontTres);
}
.nav .emogi{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 10px;
}

.nav button{
    background-color: transparent;
    border: none;
    transition: ease-in;
}
.nav button:hover{
    
    background-color: rgba(23, 48, 146, 0.267);
}

.mihero{
    height: fit-content;
}

.mihero .contenedor-mihero {
    text-align: center;

}

.mihero .contenedor-mihero h3 {
    height: 10px;
    font-family: var(--fontDos);
    font-weight: 600;
    font-size: 20px;
}

.mihero .contenedor-mihero p {
    height: 8px;
    margin-bottom: 25px;
    font-family: var(--fontDos);
    font-weight: 400;
    font-size: 20px;
}

.mihero .imagen-hero {
    width: 100%;
    height: 300px;
}

.mihero .contenedor-sobremi {
    background-color: var(--colorDos);
    text-align: start;
    height: fit-content;
    padding:30px 30px;
}

.mihero .contenedor-sobremi h4 {
    padding-top: 10px;
    text-align: start;
    font-family: var(--fontTres);
    text-decoration: underline;
}

.mihero .contenedor-sobremi p {
    font-family: var(--fontTres);
}

.mihero .contenedor-sobremi #button {
    text-align: start;
    position: relative;
    width: 100px;
    height: 40px;
}

.mihero .contenedor-sobremi button {
    width: 100%;
    height: 100%;
    background-color: rgb(222, 201, 240);
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    border-radius: 500px;
    border: 1px solid;
    display: inline-block;
    text-align: center;
    margin: 0px 0px;
    position: absolute;
    z-index: 2;

}
.sombra-boton{
    z-index: -1;
    position: absolute;
    top: 15%;
    left:15%;
    border-radius: 500px;
    display: inline-block;
    background-color: rgb(211, 214, 243);
    width: 100%;
    height: 100%;

    
}
.mihero .contenedor-sobremi button:hover {
    cursor:pointer;
    background-color: var(--colorCinco);
}
.mihero .contenedor-sobremi button a{
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .contenedor-conocimientos {
    background-color: rgb(255, 255, 255);
    color: rgb(246, 238, 238);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    background-color:var(--colorUno);
}
main .contenedor-conocimientos h3{
    font-size: 30px;
    font-family: var(--fontTres);
    color: var(--colorSeis);
    font-weight: 400;
}
main .contenedor-conocimientos p{
    display: none;
}
main .contenedor-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
main .contenido-card-conocimiento {
    height: 90px;
    width: 90px;
    margin: 10px 20px;
    box-shadow: 4px 3px 6px rgb(71, 69, 69);
}

main .contenedor-misproyectos {
    text-align: center;
    background-color: var(--colorDos);
    height: fit-content;
    padding: 15px;
}

main .contenedor-misproyectos h3 {
    font-size: 30px;
    font-weight: 500;
    color:  blueviolet;
    font-family: var(--fontTres);
}

main .misproyectos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 30px 0;
}

main .misproyectos-cards .proyecto {
    width: 200px;
    margin: 20px 0 20px ;
    height: 200px;
    font-weight: 100;
    font-size: 18px;
    border: none;
}
main .misproyectos-cards .proyecto p {
    position: relative;
    top: 100px;
    margin: 8px;
    font-weight: 700;
    background-color: rgba(250, 235, 215, 0.822);
    text-decoration: underline;
    font-family: var(--fontTres);
    /* opacity: 0; 
    transition: 5s;
   */

    
}
/* main .misproyectos-cards:hover p {
    cursor:pointer;
    opacity: 1;
   

} */
main .misproyectos-cards .proyecto .card-img{
    width: 90%;
    height: 90%; 
    transition: all ease-in-out 0.4s;
    box-shadow: 5px 5px 8px gray;
}
main .misproyectos-cards .card-img:hover{
    transform: scale(1.1);
}

main .misproyectos-cards a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.contenedor-contactame {
    height: fit-content;
    text-align: center;
    margin: auto 10px;
}
.contenedor-contactame #contactame {
    font-size: 22px;
    font-weight: 400;
    padding: 30px 30px 30px 10px;
    color: var(--colorSeis);
    font-family: var(--fontTres);
    text-decoration:underline;
    margin: 0;

}

.contenedor-contactame .contenedor-contacto {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
}
.contenedor-contacto a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 200px;
    height: 200px;
  
}

.contenedor-contactame .contenedor-contacto .contenido-contacto {
    width: 40px;
    height: 40px;
    padding: auto auto;
    margin: 0 20px 0 10px;

}
.contenedor-contactame .contenedor-contacto p{
    padding: auto auto;
    
}


.contenedor-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: var(--colorDos);
    padding: 40px 0px 30px 0px;
}
.contenedor-input h3{
    margin: 0;
    padding: 10px;
}
.contenedor-input form{
    padding: 30px;
}
.contenedor-input .cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 70%;
    box-shadow: 5px 3px 3px rgb(93, 90, 95);
    border-radius: 20px;
    background-color: var(--colorCinco);
    font-family: var(--fontTres);
}

.contenedor-input .cajita .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.contenedor-input .cajita .input .contenido-input {
    margin-top: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
}
.input textarea{
    height: 80px;
    padding: 1px 2px;
}
.contenedor-input .cajita #submit {
    margin: 11px;
    font-family: var(--fontTres);
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: rgba(244, 231, 245, 0.596);
    box-shadow: 8px 5px 1px rgba(30, 28, 30, 0.559);
}
#submit:hover{
    cursor:pointer;
    background-color: blue;
}

footer nav {
    width: 100%;
    height: 120px;
    background-color: var(--colorUno);
    font-size: 12px;
    font-family: var(--fontTres);
}

footer a {
    color: white;
    font-weight: 900;
}
@media (min-width:768px){
    
body .nav{
    height: 50px;
    font-size: 18px
}
.nav a{
    display: block;
}

.mihero{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}
.mihero .contenedor-mihero{
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}
.mihero .contenedor-mihero h3{
    font-size: 35px;
    margin: 30px 0;
}
.mihero .contenedor-mihero p{
    font-size: 30px;
    padding-bottom: 30px;
}
.mihero .imagen-hero{
    width: 50%;
    height: 400px;
}
.mihero .contenedor-sobremi{
    width: 40%;
    height: fit-content;
    margin: 0;
    padding: 30px 37px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}
.mihero .contenedor-sobremi h4{
    font-size: 22px;
    width: 55%;
    padding: 0;
    margin: 5px;
}
.mihero .contenedor-sobremi p{
    width: 100%;
    height: 250px;
    font-size: 20px;
    margin: 0;
}
main .contenedor-conocimientos{
    height: fit-content;
    width: 100%;
    padding: 30px;

}

main .contenedor-conocimientos h3{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
main .contenedor-conocimientos p{
    display: inline-block;
    font-size: 20px;
}
main .contenedor-cards{
    padding: auto;
}

main .contenedor-conocimientos .contenedor-cards .contenido-card-conocimiento{
    width: 19%;
    height: 30%;
    margin: 15px 25px;

}
main .contenedor-misproyectos{
    height: 1000px;
}

.contenedor-misproyectos .misproyectos-cards .proyecto{
    width: 30%;
    height: 100%;
    margin: 25px;
}
.contenedor-misproyectos .misproyectos-cards .proyecto a{
    width: 100%;
    height: 100%;
}

.contenedor-misproyectos .misproyectos-cards .proyecto .card-img{
    width: 225px;
    height: 200px;
}



.contenedor-input .cajita{
    width: 50%;
}

.contenedor-input .cajita .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
}

.contenedor-input .cajita .input .contenido-input {
    margin-top: 10px;
    width: 350px;
    border: none;
    border-radius: 10px;
}
.tamaño-input{
    height: 30px;
}

.contenedor-contactame{
    padding: 30px;
    width: 90%;
}
.contenedor-contactame .contenedor-contacto {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.contenedor-contactame .contenedor-contacto h3{
    font-size: 30px;
    text-align: center;
    /* no se porque no funciona */

}
.contenedor-contacto a{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 120px;
    height: 60px;
    padding: 20px;
}

.contenedor-contactame .contenedor-contacto .contenido-contacto {
    width: 50px;
    height: 50px;
    padding: auto auto;
    margin: 0 40px 0 10px;
}
.contenedor-contactame .contenedor-contacto p{
    padding: auto auto;
    font-size: 15px;
    margin: 10px;
}


footer nav{
    height: 120px;
}

}
@media (min-width:1024px) {
.nav{
    position:fixed;
    z-index: 9999;
    height: 50px;
}

.mihero{
    width: 100%;
    height: 587px;
}
.mihero .contenedor-mihero{
    width: 100%;
    padding: 0;
    height: 100px;
    margin: 90px 0 10px 0 ;

}
.mihero .imagen-hero{
    width: 35%;
    padding-left: 13%;
    
}

.mihero .contenedor-sobremi{
    width: 35%;
    height: fit-content;
    font-size: 10px;
    margin: 30px 0 0 0;
    padding: auto auto;
}
.mihero .contenedor-sobremi p{
    font-size: 18px;
    width: 90%;
    padding: 0;
    height: fit-content;
}
.mihero .contenedor-sobremi #button{
    margin: 30px 0 10px 0;

}

main{
    height: 1100px;
}

main contenedor-conocimientos{
    height: 100px;   
    padding-top: 40px;
}

main .contenedor-conocimientos .contenedor-cards .contenido-card-conocimiento{
    width: 70px;
    height: 100px;
    margin: 20px;
}

main .contenedor-misproyectos{
    padding: 0 40px;
}
.contenedor-misproyectos .misproyectos-cards{
    justify-content: center;
}
.contenedor-misproyectos .misproyectos-cards .proyecto{
    width: 25%;
}
.contenedor-misproyectos .misproyectos-cards .proyecto .card-img{
    width: 180px;
    height: 180px;
    margin: 0;
    padding: 0;
}

.contenedor-input .cajita{
    width: 50%;
}

.contenedor-input .cajita .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
}

.contenedor-input .cajita .input .contenido-input {
    margin-top: 10px;
    width: 350px;
    border: none;
    border-radius: 10px;
}
.tamaño-input{
    height: 30px;
}



.contenedor-input .cajita{
    width: 40%;
}

.contenedor-input .cajita .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    
}

.contenedor-input .cajita .input .contenido-input {
    margin-top: 10px;
    width: 380px;
    border: none;
    border-radius: 10px;
}
.tamaño-input{
    height: 30px;
}



}