@import url(./home.css);

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: sticky;
    z-index: 9999;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--colorUno);
}

nav a {
    text-decoration: none;
    color: white;
    font-family: var(--fontTres);
}

.mihero{
    height: 700px;
}

.mihero .contenedor-mihero {
    text-align: center;

}

.mihero .contenedor-mihero h3 {
    height: 10px;
    font-family: var(--fontDos);
    font-weight: 600;
    font-size: 20px;
}

.mihero .contenedor-mihero p {
    height: 8px;
    margin-bottom: 25px;
    font-family: var(--fontDos);
    font-weight: 400;
    font-size: 20px;
}

.mihero .imagen-hero {
    width: 100%;
    height: 300px;
}

.mihero .contenedor-sobremi {
    background-color: var(--colorDos);
    text-align: center;
    height: 272px;
    padding-top: 30px;
    padding: 30px 15px 30px 15px;
}

.mihero .contenedor-sobremi h4 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-family: var(--fontTres);
    text-decoration: underline;
}

.mihero .contenedor-sobremi p {
    padding: 0 20px 0 20px;
    font-family: var(--fontTres);
}

.mihero .contenedor-sobremi button {
    width: 110px;
    height: 30px;
    box-shadow: 3px 3px 3px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px;
}
.mihero .contenedor-sobremi button:hover {
    cursor:pointer;
    background-color: var(--colorCinco);
}
.mihero .contenedor-sobremi button a{
    text-decoration: none;
    color: black;
}

#button {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .contenedor-conocimientos {
    background-color: rgb(255, 255, 255);
    color: rgb(246, 238, 238);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    background-color:var(--colorUno);
}
main .contenedor-conocimientos h3{
    font-size: 30px;
    font-family: var(--fontTres);
    color: var(--colorSeis);
    font-weight: 400;
}
main .contenedor-conocimientos p{
    display: none;
}
main .contenedor-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
main .contenido-card-conocimiento {
    height: 100px;
    width: 100px;
    margin: 10px 40px;
}

main .contenedor-misproyectos {
    text-align: center;
    background-color: var(--colorDos);
    height: fit-content;
    padding: 15px;
}

main .contenedor-misproyectos h3 {
    font-size: 30px;
    font-weight: 500;
    color:  blueviolet;
    font-family: var(--fontTres);

}

main .misproyectos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 30px 0;
}
main .misproyectos-cards .proyecto {
    width: 200px;
    margin: 20px 0 20px ;
    height: 200px;
    font-weight: 100;
    font-size: 18px;
    border: none;
}
main .misproyectos-cards .proyecto p {
    margin: 8px;
    text-decoration: underline;
    font-family: var(--fontTres);
    
}
main .misproyectos-cards .proyecto .card-img{
    width: 100%;
    height: 100%; 
    transition: all ease-in-out 0.4s;
}
main .misproyectos-cards .card-img:hover{
    transform: scale(1.1);
}

main .misproyectos-cards a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.contenedor-contactame {
    height: 200px;
    text-align: center;
}
.contenedor-contactame #contactame {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
    padding-top: 30px;
    color: var(--colorSeis);
    font-family: var(--fontTres);
    text-decoration:underline;
}

.contenedor-contactame .contenedor-contacto {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.contenedor-contacto a{
    width: 200px;
    height: 200px;
}

.contenedor-contactame .contenedor-contacto .contenido-contacto {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 430px;
    text-align: center;
    background-color: var(--colorDos);
    padding: 30px 0px 30px 0px;
}
.contenedor-input .cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
    box-shadow: 5px 3px 3px rgb(93, 90, 95);
    border-radius: 20px;
    background-color: var(--colorCinco);
    font-family: var(--fontTres);
}
/* .contenedor-input .cajita h3{
    
} */

.contenedor-input .cajita .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    padding: 10px;
}

.contenedor-input .cajita .input .contenido-input {
    margin-top: 5px;
    width: 200px;
}

.contenedor-input .cajita #submit {
    margin: 10px;
    background-color: white;
    font-family: var(--fontTres);
}
#submit:hover{
    cursor:pointer;
}

footer nav {
    width: 100%;
    height: 120px;
    background-color: var(--colorUno);
    font-size: 12px;
    font-family: var(--fontTres);
}

footer a {
    color: white;
    font-weight: 900;
}
@media (min-width:768px){
    
body nav{
    height: 80px;
    font-size: 18px
}

.mihero{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}
.mihero .contenedor-mihero{
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}
.mihero .contenedor-mihero h3{
    font-size: 35px;
    margin: 30px 0;
}
.mihero .contenedor-mihero p{
    font-size: 30px;
    padding-bottom: 30px;
}
.mihero .imagen-hero{
    width: 50%;
    height: 400px;
}
.mihero .contenedor-sobremi{
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.mihero .contenedor-sobremi h4{
    font-size: 22px;
    margin: 15px 0 0 0;
}
.mihero .contenedor-sobremi p{
    width: 60%;
    height: 250px;
    font-size: 20px;
}
main .contenedor-conocimientos{
    height: 600px;
    width: 100%;
    padding-top: 30px;
}

main .contenedor-conocimientos h3{
    font-size: 40px;
    padding: 0;
    margin: 0;
}
main .contenedor-conocimientos p{
    display: inline-block;
    font-size: 25px;
}
main .contenedor-cards{
    padding: auto;}
main .contenedor-conocimientos .contenedor-cards .contenido-card-conocimiento{
    width: 19%;
    height: 30%;
    margin: 15px 25px;

}
main .contenedor-misproyectos{
    height: 1000px;
}

.contenedor-misproyectos .misproyectos-cards .proyecto{
    width: 30%;
    height: 100%;
    margin: 25px;
}
.contenedor-misproyectos .misproyectos-cards .proyecto a{
    width: 100%;
    height: 100%;
}

.contenedor-misproyectos .misproyectos-cards .proyecto .card-img{
    width: 225px;
    height: 200px;
}
.contenedor-contactame{
    height: 300px;
}
.contenedor-contactame #contactame{
    font-size: 35px;
    padding-top: 30px;
    color: rgb(128, 0, 128);
    text-decoration:underline;
}
.contenedor-contactame .contenedor-contacto{
    justify-content: center;
    align-items: center;
}
.contenedor-contactame .contenedor-contacto .contenido-contacto{
    width: 40% ;
    height: 40%;
}
.contenedor-input .cajita{
    width: 50%;

}
footer nav{
    height: 120px;
}

}
@media (min-width:1024px) {

.mihero{
    width: 100%;
    height: 668px;
}
.mihero .contenedor-mihero{
    width: 100%;
}
/* corregir esto de aabajo cambiando id por class en todas */
.mihero .imagen-hero{
    width: 30%;
    padding-left: 20%;
}

.mihero .contenedor-sobremi{
    text-align: center;
    padding-top: 50px;
    width: 50%;
    height: 415px;
    font-size: 10px;
}
.mihero .contenedor-sobremi p{
    font-size: 18px;
    width: 50%;
    height: 60%;
}
main{
    height: 1100px;
}

main contenedor-conocimientos{
    height: 100px;   
    margin: 30px;
}

main .contenedor-conocimientos .contenedor-cards .contenido-card-conocimiento{
    width: 70px;
    height: 100px;
    margin: 20px;
}

main .contenedor-misproyectos{
    padding: 0 40px;
}
.contenedor-misproyectos .misproyectos-cards{
    justify-content: center;
}
.contenedor-misproyectos .misproyectos-cards .proyecto{
    width: 25%;
}
.contenedor-misproyectos .misproyectos-cards .proyecto .card-img{
    width: 180px;
    height: 180px;
    margin: 0;
    padding: 0;
}
}
