body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    font-size: 10px;
    font-weight: 700;
    background-color: rgba(111, 205, 147, 0.789);
}

nav a {
    text-decoration: none;
    color: white
}

.mihero {
    height: 660px;
}

.contenedor-mihero {
    text-align: center;


}

.contenedor-mihero h3 {
    height: 10px;
    font-weight: 500;
}

.contenedor-mihero p {
    height: 8px;
    margin-bottom: 25px;
}


#imagen-hero {
    width: 100%;
    height: 300px;

}

.contenedor-sobremi {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.211);
    text-align: justify;
    height: 290px;
}

.contenedor-sobremi h4 {
    margin: 0;
    padding-top: 10px;
    /* padding-left: 9px; */
    text-align: center;
}

.contenedor-sobremi p {
    padding: 0 20px 0 20px;
}

.contenedor-sobremi button {
    width: 100px;
    box-shadow: 3px 3px 3px;
}

#button {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-conocimientos {
    background-color: rgb(255, 255, 255);
    color: rgb(246, 238, 238);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    background-color:rgb(120, 213, 216);
}

.contenedor-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.contenido-card-conocimiento {
    width: 80px;
    height: 120px;
}

.card {
    border: 1px solid black;
    width: 26%;
    height: 120px;
    margin: 7px;
    background-color: white;
}

.contenedor-misproyectos {
    text-align: center;
    background-color: rgba(249, 229, 17, 0.685);
    height: 1405px;
    margin: 0;
}


.contenedor-misproyectos h3 {
    border-top: 1px solid black;
    padding-top: 40px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(214, 90, 111);
}

.misproyectos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}
.card-img{
    width: 100%;
    height: 100%; 
}

.misproyectos-cards a {
    text-decoration: none;
    color: black;
}

.proyecto {
    background-color: rgb(233, 229, 229);
    width: 200px;
    margin: 20px 0 20px 0;
    height: 200px;
    font-weight: 100;
    font-size: 18px;
    border: none;
}

.contenedor-contactame {
    margin: ;
    height: 200px;
    text-align: center;
}

.contenedor-contacto {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

#contactame {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 400;
}

.contenido-contacto {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 430px;
    text-align: center;
    background-color: rgba(255, 238, 46, 0.589);
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    padding: 10px;
}

.contenido-input {
    margin-top: 5px;
    width: 200px;
}

#submit {
    margin: 10px;
}

footer nav {
    width: 100%;
    height: 80px;
    background-color: rgba(13, 36, 69, 0.789);
    font-size: 11px;
}

footer a {
    color: white;
    font-weight: 900;
}
@media (min-width:351px){
    
body nav{
    height: 80px;
    font-size: 18px
}
.contenedor-mihero{
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.mihero{
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}
.contenedor-mihero{
    width: 100%;
}
#imagen-hero{
    width: 50%;
    height: 400px;
}
.contenedor-sobremi{
    width: 50%;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-sobremi h4{
    font-size: 22px;
    margin: 15px 0 0 0;
}
.contenedor-sobremi p{
    width: 60%;
    height: 150px;
    font-size: 20px;
}
main .contenedor-conocimientos{
    height: 500px;
    width: 100%;
    padding-top: 30px;
}

main .contenedor-conocimientos h3{
    font-size: 40px;

}
.contenedor-misproyectos{
    height: 900px;
}

.misproyectos-cards{
    display: flex;
    flex-direction: column;


}

.contenedor-misproyectos img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px;
}
}

